body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a2c, #2e7d32);
  color: white;
}


.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px 60px;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.btn {
  background: #8bc34a;
  padding: 10px 20px;
  border-radius: 10px;
}


.hero {
  text-align: center;
  margin-top: 100px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(to right,#ffffff,#bfedd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: #dcdcdc;
  margin: 20px 0;
}


.cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cta input {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px #2e7d32;
}

.cta button {
  padding: 12px 20px;
  background: #8bc34a;
  border: 2px solid white;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 0 10px #2e7d32;
  cursor: pointer;
}


.preview {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.preview img {
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
  transition: 0.4s;
}

.preview img:hover {
  transform: scale(1.05);
}

button:hover {
  transform: scale(1.05);
}

.navbar a:hover {
  color: #020202;
}



body::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(0, 255, 100, 0.2);
  filter: blur(100px);
  top: 100px;
  left: 100px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
}

.start-btn {
  display: inline-block;
  padding: 12px 20px;
  background: #8bc34a;
  color: black;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  font-weight: 500;
}
.start-btn:hover {
  background: #7cb342;
  color: black;
}

.features {
  margin-top: 100px;
  text-align: center;
  padding: 60px 40px;
}

.features h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.section-subtitle {
  color: #dcdcdc;
  margin-bottom: 40px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-card h3 {
  margin-bottom: 10px;
}



.about {
  margin-top: 100px;
  padding: 60px 80px;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  color: #dcdcdc;
  max-width: 1000px;
  margin: 10px auto;
  line-height: 1.6;
}