<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="{{url_for('static',filename='css/calculator.css')}}" />

  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" />

  <!-- Premium Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

  <title>EcoTracker Carbon Footprint Calculator</title>
</head>

<body>

  <div class="container">

    <h2>🌍 EcoTracker Carbon Calculator</h2>
    <h3>Track Today. Save Tomorrow.</h3>

    <form action="/calculator" method="POST">

      
      <label>⚡ Electricity Usage (Units / Month)</label>
      <input type="number" name="electricity" placeholder="Enter units used" required />

      
      <label>🚗 Vehicle Type</label>
      <select name="vehicle">
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
        <option value="Bus">Bus / Public Transport</option>
        <option value="electric car">Electric Car</option>
        <option value="electric bike">Electric Bike</option>
        <option value="Bicycle">Bicycle</option>
        <option value="Walk">Walk</option>
      </select>

      
      <button type="button" onclick="startJourney()">
        🗺️ Start Journey
      </button>

     
      <label>📍 Distance Travelled (km)</label>
      <input type="number" name="distance" value="{{ distance }}">

      
      <label>♻️ Waste Generated (kg)</label>
      <input type="number" name="waste" placeholder="Enter waste amount" required />

     
      <button type="submit">
        🌱 Calculate Footprint
      </button>

    </form>

  </div>

  <script>
    function startJourney(){
      window.location.href="/map";
    }
  </script>

</body>
</html>