<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<body>

<!-- NAVBAR -->
<nav class="navbar">
  <a href="/" class="logo">
  <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="EcoTracker Logo">
  <span>EcoTracker</span>
  </a>

  <ul class="navlinks">
    <li><a href="#home">Home</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#about">About</a></li>
  </ul>

  <div class="nav-buttons">
    <a href="/login">Login</a>
    <a href="/register" class="btn">Get Started</a>
  </div>
</nav>

<!-- HERO -->
<section id="home" class="hero">

  <h1>
    Track Your Carbon Footprint <br>
    Build a Greener Future 🌱
  </h1>

  <p>
    Monitor your daily impact, earn eco points, and unlock rewards.
  </p>

  <div class="cta">
    <input type="text" placeholder="Enter your email">
    <a href="/calculator" class="btn">Start Free</a>
  </div>

</section>

<!-- DASHBOARD PREVIEW -->
<section class="preview">
  <img src="{{ url_for('static', filename='images/dash.png') }}">
</section>

</body>